@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
    background-image: url("./img.jpg");
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 6rem;
    font-weight: normal;
    margin-top: -49%;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease;
    animation-name: animate;
    animation-duration: 5s;
    animation-iteration-count: 2;
    animation-delay: 0s;
}

.dte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrp;
}

.time {
    text-align: center;
    margin: 3em;
}

.bigtxt {
    font-size: 5rem;
}

span {
    font-size: 1.5rem;
    letter-spacing: 1x;
}

@keyframes animate {
    0% {
        visibility: visible;
        transform: translateY(-120vh);
    }
    25% {
        visibility: visible;
        transform: translateY(-80vh);
    }
    50% {
        visibility: visible;
        /* transform: rotate(10deg); */
        transform: matrix3d():
    }
    75% {
        visibility: visible;
        transform: rotateZ(-10deg);
    }
    100% {
        visibility: visible;
        transform: translateX(-10vh);
    }
}